/*********************************/
/*********** CSS RESET ***********/
/*********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  overflow: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*** Works on common browsers ***/
::selection {
  background-color: rgb(176, 189, 230);
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: rgb(176, 189, 230);
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: rgb(176, 189, 230);
  color: #fff;
}

::-ms-selection {
  background-color: rgb(176, 189, 230);
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: rgb(176, 189, 230);
  color: #fff;
}

body {
  font-family: "Be Vietnam Pro", serif;
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-size: 30%;
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.home {
  font-weight: 600;
  justify-self: start;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 2rem clamp(0rem, -0.2rem + 1vw, 1rem);
}

.nav-links {
  display: flex;
  justify-self: end;
  gap: 1rem;
  gap: clamp(0rem, -0.2rem + 1vw, 1rem);
}

nav a {
  padding: 0.5rem 0.75rem;
}

.nav-links a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 0.5rem;
}

.title {
  font-weight: 500;
  font-size: 2rem;
  font-size: clamp(2rem, 2.8vw, 3rem);
}

@media (max-width: 400px) {
  .nav-links {
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.5rem;
  }
}
.welcome {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  margin-bottom: 3rem;
}

.intro {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding-block: 3rem;
  padding-block: clamp(3rem, 2.4rem + 3vw, 6rem);
  padding-inline: 2rem;
  padding-inline: clamp(2rem, 1.4rem + 3vw, 5rem);
}

.intro-title {
  text-align: center;
}

.intro-title span {
  font-weight: 600;
}

.intro-img {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  aspect-ratio: 1/1;
  justify-self: center;
  max-width: 15.625rem;
  max-width: clamp(15.625rem, 13.125rem + 12.5vw, 28.125rem);
  overflow: hidden;
  z-index: 3;
}

.avatar {
  object-fit: cover;
  scale: 1.3;
}

.intro-tech-stack {
  justify-self: center;
  margin-inline: 1rem;
}

.sub-title {
  text-align: center;
  font-weight: 600;
}

.intro-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 0.5rem;
}

.contact {
  padding-bottom: 1rem;
}

.icon {
  max-width: 20px;
}

.bg-img {
  position: absolute;
  display: block;
  top: 200px;
  width: 12.5rem;
  width: clamp(12.5rem, 8.75rem + 18.75vw, 31.25rem);
  z-index: -5;
}

@media (min-width: 800px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
  }
  .intro-tech-stack {
    justify-self: start;
  }
  .intro-icons,
  .sub-title,
  .intro-title {
    justify-content: start;
    text-align: start;
  }
  .ring {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.ring {
  position: relative;
  width: clamp(15.625rem, 13.125rem + 12.5vw, 28.125rem);
  height: clamp(15.625rem, 13.125rem + 12.5vw, 28.125rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid rgb(176, 189, 230);
  transition: 0.5s;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.projects {
  display: grid;
  max-width: 1200px;
  place-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.project {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 3rem;
  gap: clamp(3rem, 2rem + 5vw, 8rem);
  margin-inline: 2rem;
}

.page {
  margin-bottom: 5rem;
}

.project:hover {
  text-decoration: none;
}
.project:hover .proj-img-container {
  background-color: rgba(209, 209, 209, 0.2);
  background-blend-mode: multiply;
}
.project:hover .proj-desc-title {
  text-decoration: underline;
}

.proj-desc {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  align-content: start;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
}

.proj-desc-title {
  font-size: 2rem;
  font-weight: 600;
}

.proj-desc-date {
  font-size: clamp(0.85rem, 0.82rem + 0.15vw, 1rem);
}

.proj-img-container {
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
}

.proj-img-container.one {
  background-image: url("../images/spa-selene-coverphoto.png");
}

.proj-img-container.two {
  background-image: url("../images/searchPaws-coverphoto.png");
}

.proj-desc-tech-stack {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.proj-desc-tech-stack img {
  max-width: 20px;
}

@media (min-width: 800px) {
  .project {
    display: grid;
    grid-template-columns: minmax(30%, 600px) 1fr;
    grid-template-rows: 1fr;
  }
}
.spa-selene {
  display: grid;
  gap: 2rem;
  place-items: center;
  margin: 2rem clamp(2rem, 1.2rem + 4vw, 6rem);
}

.feature-heading-group {
  text-align: center;
}

.feature-title {
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.feature-link {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.feature-link:hover {
  background-color: rgb(176, 189, 230);
  text-decoration: none;
}

.feature-img-container {
  max-width: 900px;
  max-height: 600px;
}

.feature-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.feature-writeup {
  max-width: 1400px;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  gap: 2rem;
}

.feature-desc {
  margin-left: 4rem;
}

.feature-primary-title {
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 1.76rem + 0.2vw, 2rem);
  font-weight: 600;
}

.feature-secondary-title {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.43rem + 0.35vw, 1.85rem);
  padding-bottom: 0.5rem;
  margin-left: 4rem;
}

.feature-main-list {
  font-weight: 600;
  margin-left: 3rem;
}

.feature-sub-list {
  font-weight: normal;
  list-style-type: circle;
  margin-left: 3rem;
}

.timeline-img {
  margin-left: 4rem;
}

.feature-text-content .feature-sub-list {
  margin-left: 6rem;
}

.sketch-container {
  width: 100%;
  max-height: 550px;
  display: grid;
  gap: 1rem;
  margin: 0rem 0rem 3rem 4rem;
  padding-right: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.sketch-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid rgb(0, 0, 0);
}

.video-container {
  display: grid;
  justify-content: center;
  margin-left: 4rem;
}

.screenshot-container {
  max-width: 500px;
  margin-left: 4rem;
  display: flex;
  gap: 1rem;
}

.screenshot-container-large {
  max-width: 650px;
  margin-left: 4rem;
}

.feature-screenshot {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.feature-screenshot2 {
  max-height: 300px;
}

@media (max-width: 1200px) {
  .screenshot-container {
    flex-direction: column-reverse;
  }
}
.about {
  max-width: 1200px;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  gap: clamp(1rem, 0.6rem + 2vw, 3rem);
  place-items: center;
  margin: 2rem;
}

.about-img-container {
  width: 100%;
  height: 650px;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-txt-container {
  padding-inline: 2rem;
}

.about-title {
  margin-bottom: 1rem;
}

.about-description {
  padding-bottom: 1rem;
}

.about-description span {
  font-weight: 600;
}

@media (max-width: 1000px) {
  .about-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .about-img-container {
    width: 80%;
    height: 350px;
  }
  .about-txt-container {
    max-width: 80%;
    padding-inline: 0rem;
  }
}
.resume {
  display: grid;
  place-items: center;
}

.feature-link:hover {
  background-color: rgb(176, 189, 230);
}

.resume-container {
  max-width: 700px;
  height: 860px;
}

.resume-img {
  width: 100%;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: grid;
  height: auto;
  margin-top: 5rem;
  padding-block: 3rem 1rem;
}

.footer-container {
  display: flex;
  gap: 3rem;
  gap: clamp(3rem, 2rem + 5vw, 8rem);
  justify-content: center;
  align-items: center;
  margin-inline: 2rem;
  padding-bottom: 3rem;
}

.footer-title {
  font-size: 2rem;
  font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  padding-bottom: 0.2rem;
}

.footer-text p {
  font-size: 1.15rem;
  font-size: clamp(1.15rem, 1.08rem + 0.35vw, 1.5rem);
}

.email-me {
  font-weight: bold;
  color: rgb(176, 189, 230);
}

.footer-icons {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}

.icon {
  max-width: 60px;
  aspect-ratio: 1/1;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  justify-self: center;
  align-self: end;
}

@media (max-width: 990px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  .icon {
    max-width: 50px;
  }
}/*# sourceMappingURL=styles.css.map */