.about-img-container {
    width: 600px;
    height: 650px;
}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    max-width: 1200px;
    margin: auto;
    background-color: rgba(255, 255, 255);
    color: black;
}

.about-wrapper {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-description {
    padding-bottom: 1rem;
}