@use 'root';
// *******************************************
// about page styles
// *******************************************

.about {
    max-width: 1200px;
    background-color: root.$neutral-white;
    margin: auto;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    gap: clamp(1rem, 0.6rem + 2vw, 3rem);
    place-items: center;
    margin: 2rem;
}

.about-img-container {
    width: 100%;
    height: 650px;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-txt-container {
    padding-inline: 2rem;
}

.about-title {
    margin-bottom: 1rem;
}

.about-description {
    padding-bottom: 1rem;
}

.about-description span {
    font-weight: root.$fw-bold;
}

@media (max-width: 1000px) {
    .about-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .about-img-container {
        width: 80%;
        height: 350px;
    }
    .about-txt-container {
        max-width: 80%;
        padding-inline: 0rem;
    }
        
}
