@use 'root';
// *******************************************
// global styles
// *******************************************

body {
    font-family: root.$primary-font;
    background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
    background-size: 30%;
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    color: root.$neutral-black;
    font-size: root.$fs-reg;
}

.home {
    font-weight: root.$fw-bold;
    justify-self: start;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 2rem clamp(0rem, -0.2rem + 1vw, 1rem);
}

.nav-links {
    display: flex;
    justify-self: end;
    gap: 1rem;
    gap: clamp(0rem, -0.2rem + 1vw, 1rem);
}

nav a {
    padding: .5rem .75rem;
}

.nav-links a:hover {
    background-color: root.$neutral-black;
    color: root.$neutral-white;
    text-decoration: none;
    border-radius: .5rem;
}

.title {
    font-weight: root.$fw-semibold;
    font-size: 2rem;
    font-size: clamp(2rem, 2.8vw, 3rem);
}



@media (max-width: 400px) {
    .nav-links {
        flex-wrap: wrap;
        justify-content: end;
        gap: .5rem;
    }
}