@use 'root';
// *******************************************
// project page styles
// *******************************************

.projects {
    display: grid;
    max-width: 1200px;
    place-content: center;
    gap: 2rem;
    margin: 0 auto;
}

.project {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 3rem;
    gap: clamp(3rem, 2rem + 5vw, 8rem);
    margin-inline: 2rem;
}

.page {
    margin-bottom: 5rem;
}

.project:hover {
    text-decoration: none;
        .proj-img-container {
        background-color: rgba(209, 209, 209, 0.2);
        background-blend-mode: multiply;
        }
        .proj-desc-title{
        text-decoration: underline;
        }
}

.proj-desc {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem;
    align-content: start;
    background-color: root.$neutral-white;
    border-radius: root.$radius;
}

.proj-desc-title {
    font-size: 2rem;
    font-weight: root.$fw-bold;
}

.proj-desc-date {
    font-size: root.$fs-small;
}

.proj-img-container {
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: root.$radius;
}

.proj-img-container.one {
    background-image: url("../images/spa-selene-coverphoto.png");
}

.proj-img-container.two {
    background-image: url("../images/searchPaws-coverphoto.png");
}

.proj-desc-tech-stack {
    display: flex;
    align-items: start;
    gap: 2rem;
}

.proj-desc-tech-stack img {
    max-width: 20px;
}

@media (min-width: 800px) {
    .project {
        display: grid;
        grid-template-columns: minmax(30%, 600px) 1fr;
        grid-template-rows: 1fr;
    }
}


