// *******************************************
// SASS Variables
// *******************************************

$primary-font: "Be Vietnam Pro", serif;

$fw-semibold: 500;
$fw-bold: 600;

$fs-xlarge: clamp(3rem, 2.8rem + 1vw, 4rem);;
$fs-reg: 1rem;
$fs-small: clamp(0.85rem, 0.82rem + 0.15000000000000002vw, 1rem);

$radius: 2rem;

$primary-accent-color: rgb(176, 189, 230);
$neutral-white: rgb(255, 255, 255);
$neutral-black: rgb(0, 0, 0);