@use 'root';
// *******************************************
// spa selene feature page styles
// *******************************************
$margin-indent: 4rem;
$margin-list-item-indent: 3rem;


.spa-selene {
    display: grid;
    gap: 2rem;
    place-items: center;
    margin: 2rem clamp(2rem, 1.2rem + 4vw, 6rem);
}

.feature-heading-group {
    text-align: center;
}

.feature-desc, .feature-main-list {
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.76rem + 0.19999999999999996vw, 1rem);
}

.feature-title {
    font-size: root.$fs-xlarge;
    font-weight: root.$fw-bold;
    padding-bottom: .5rem
}

.feature-link {
    background-color: root.$neutral-black;
    color: root.$neutral-white;
    font-weight: root.$fw-bold;
    letter-spacing: 1px;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.feature-link:hover {
    background-color: root.$primary-accent-color;
    text-decoration: none;
}

.feature-img-container {
    max-width: 900px;
    max-height: 600px;
}

.feature-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.feature-writeup {
    max-width: 1400px;
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    gap: 2rem;
}

.feature-desc {
    margin-left: $margin-indent;
}

.feature-primary-title {
    font-size: 1.8rem;
    font-size: clamp(1.8rem, 1.76rem + 0.19999999999999996vw, 2rem);
    font-weight: root.$fw-bold;
}

.feature-secondary-title {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.43rem + 0.3500000000000001vw, 1.85rem);
    padding-bottom: .5rem;
    margin-left: $margin-indent;
}

.feature-main-list {
    font-weight: root.$fw-bold;
    margin-left: $margin-list-item-indent;
}

.feature-sub-list {
    font-weight: normal;
    list-style-type: circle;
    margin-left: $margin-list-item-indent;
}

.timeline-img {
    margin-left: $margin-indent;
}

.feature-text-content .feature-sub-list {
    margin-left: 6rem;
}

.sketch-container {
    width: 100%;
    max-height: 550px;
    display: grid;
    gap: 1rem;
    margin: 0rem 0rem 3rem $margin-indent;
    padding-right: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.sketch-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid root.$neutral-black;
}

.video-container {
    display: grid;
    justify-content: center;
    margin-left: $margin-indent;
}

.screenshot-container {
    max-width: 500px;
    margin-left: $margin-indent;
    display: flex;
    gap: 1rem;
}

.screenshot-container-large {
    max-width: 650px;
    margin-left: $margin-indent;
}

.feature-screenshot {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.feature-screenshot2 {
    max-height: 300px;
}

@media (max-width: 1200px) {
    .screenshot-container {
        flex-direction: column-reverse;
    }
}
