.spa-selene {
    margin: 2rem 6rem; 
    display: grid;
    gap: 2rem;
}

.feature-title {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: .5rem
}

.feature-heading-group {
    text-align: center;
}

.feature-link {
    padding: .5rem 1rem;
    background-color: rgb(245, 52, 84);
    border-radius: .5rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.feature-link:hover {
    background-color: rgb(250, 5, 46);
    text-decoration: none;
    
}

.feature-heading2 {
    font-size: 2rem;
}