/*********************************/
/*********** CSS RESET ***********/
/*********************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and inherit fonts for inputs and buttons */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core html defaults */
html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*********************************/
/************ GENERAL ************/
/*********************************/

body {
    font-family: Be Vietnam Pro, serif;
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
}

.nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 3rem;
}

.nav-list {
    justify-self: flex-end;
    display: flex;
    gap: clamp(.25rem, 4vw, 2rem);;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav__resume-link {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.intro {
    display: flex;
    /* flex-direction:  */
    gap: clamp(2rem, 6vw, 8rem);
    place-content: center;
    margin-inline: 5rem;
}

.intro__img {
    flex: 1 450px;
    max-width: 450px;
    max-height: 450px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 300px;
    aspect-ratio: 1/1;
    overflow: hidden;
    justify-self: end;
    align-self: center;
    margin-left: clamp(1rem, 4vw, 8rem);;
}

.avatar {
    object-fit: cover;
}

.intro__text-content {
    flex: 1 750px;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.title {
    font-weight: 500;
    font-size: clamp(2rem, 2.8vw, 3rem);
    justify-self: center;
    align-self: center;
    /* padding-right: clamp(1rem, 3vw, 8rem); */
}

.title span {
    font-weight: 600;
}

.intro__tech-stack {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.sub-title {
    font-weight: bold;
}

.intro__list {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-self: start;
    align-self: end;
}

@media (max-width: 1230px) {
    .intro {
        /* grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;*/
        /* gap: clamp(2rem, 5vw, 5rem);  */
    }
    .intro__img {
        /* margin-left: clamp(2rem, 7vw, 5rem); */
    }
}

@media (max-width: 1020px) {
    .intro {
    flex-direction: column-reverse;
    /* text-align: center; */
    }
    .intro__text-content {
    flex: 1 250px;
    text-align: center;
    }
    .nav {
        padding-inline: clamp(.5rem, 3.5vw, 3rem);
    }
    .intro__img {
        flex: 1 350px;
    }
    .intro__list {
        justify-content: center;
        text-align: center;
    }
    .intro__tech-stack {
        place-content: center;
    }
}

.projects {
    margin-top: 20rem;
    display: grid;
    place-items: center;
} 

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 90%;
}

.project {
    width: 500px;
    aspect-ratio: 1/1;
}

.project > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project.one {
    background-image: url("images/matthieu-petiard-Pf6e3o0GL4M-unsplash.jpg");
    background-position: 90%;
    background-size: cover;
}

.project.two {
    background-image: url("images/david-lezcano-m-Doa-GTrUw-unsplash.jpg");
    background-position: 100% 100%;
    background-size: cover;
    border: 10px solid pink;
}

.project.three {
    background-image: url("images/spa-selene.png");
    background-position: 90%;
    background-size: cover;
}

.project.four {
    background-image: url("images/droneflyernick-8UfHz77ortc-unsplash.jpg");
    background-position: 62%;
    background-size: cover;
}